{% extends 'base.html' %}

{% block content %}
<h1>Sign Up</h1>
<form method="GET">
    {{ form.hidden_tag() }}
    
    {{form.username(class='form-control', placeholder='Username')}}
    {{form.email(class='form-control', placeholder='Email')}}
    {{form.password(class='form-control', placeholder='Password')}}
    {{form.confirm_password(class='form-control', placeholder='Confirm Password')}}
    {{form.submit(id='btn')}}
</form>

<style>
    h1, .form-control{
        margin-top:10px;
        text-align:center;
        width:25%;
        margin-left:470px;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    #btn{
        margin-top:10px;
        margin-left:599px;
    }
   
</style>
{% endblock %}